body{
    box-sizing: border-box;

}
/*This is the navegation part*/

.logo{
    width: 140px;
    height: 40px;
}

.sign-in{
    width: 40px;
    height: 35px;
    padding-top: 10px;
}

a{
    color: white;
    padding-top: 10px;
    border-right: 2px gray solid;
    padding-right: 35px;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}

/*This is the Main Part*/

#biggest-box{
    display: flex;
    
}

.Welcome{
    display: flex;
    justify-content: space-between;
}

.date{
    margin: 19.92px 0px;
    color: gray;
    font-size: 20px;
}

.text-relative{
top: 163px;
width: 500px;
color: #F8F7F7;
padding-right: 20px;
margin-left: 10px;
}

.left-section{
    background-image: url(Israel.jpeg) ;
    height: 300px;
    width: 500px;
    background-size: cover;
    
}

/*This is the Main Part but is the right side*/

.right-section{
    display: flex;
    margin-left: 20px;
    flex-wrap: wrap;
    gap: 10px;
    display:flex ;
    margin-bottom: 0px;
    justify-content: end;
    align-items: flex-end;
    font-size: 10px;
}

.americans{
    background-image: url(Americans.jpeg);
    width: 250px;
    height: 140px;
    background-position: center;
    background-size: cover;
    color: #F8F7F7;
    display: flex;
    flex-direction: column;
    
    font-size: 10px;
}


.productivity{
    background-image: url(productivity.jpeg);
    width: 250px;
    height: 140px;
    background-position: center;
    background-size: cover;
    color: #F8F7F7;
    display:flex ;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 10px;
}

.vaccinate{
    background-image: url(vaccinate.jpeg);
    width: 250px;
    height: 140px;
    background-position: center;
    background-size: cover;
    color: #F8F7F7;
}

.singer{
    background-image: url(singer.jpeg);
    width: 250px;
    height: 140px;
    background-position: center;
    background-size: cover;
    color: #F8F7F7;
}

/*This is the bottom side*/

#bottom-box{
    display: flex;
    margin-top: 30px;
    margin-left: 0px;
}

#inside-bottom{
    display: flex;
    margin-top: 50px;
    gap: 5px;
}

h2{
    margin-bottom: 0px;
    margin-top: 0px;
}