body{
    box-sizing: border-box;

}


nav{
    display: flex;
    flex-direction: row;
    
}

.main-left{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.main-right{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.main-principal{
    display: flex;
}

.main-right section{
    width: 50%;
}

.first{
    background-image: url(Americans.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 150px;
}