/******************************************************/
/*  Navegation
/******************************************************/
nav{
    width: 300px;
    justify-content: space-between;
}

li{
    list-style-type: none;
    padding: 10px;
    padding-left: 0px;
    font-size: 20px;
}

ul{
    padding-left: 20px;
}

h1{
    font-size: 16px;
}

/******************************************************/
/*  Body Part
/******************************************************/
.first-part{
    display: flex;
    flex-direction: center;
    gap: 25px;
    padding-left: 19px;
}

.the-last-part{
    display: flex;
    padding-left: 175px;
    gap: 35px;
}

/******************************************************/
/*  Color Text
/******************************************************/

.colortypogrphy{
    color: #B0B0B0;
}

#color-orange{
    color: #FFAA46;
}

.subtitle-color{
    color: #E4AA56;
}

/******************************************************/
/*  Lines of the text
/******************************************************/

.line{
    border-bottom: solid 2px #B0B0B0;
    padding-bottom: 7px;
}

.top-line{
    border-top: solid 2px #B0B0B0;
}

.icono{
    width: 20px;
    height: 18px;
}