/* Please make "This is an ad..." blue, but make sure it is specific enough that you could add other h3's somewhere eles in the document. */
h1{
    font-size: 30px;
    padding: 5px;
    border: 1px solid red;
}
/* Please make "I like turtles." red */
h2{
    font-size: 25px;
    padding: 10px 0;
    border: 10px solid gold;
    margin: 30px 0;
}
/* Please select "Hello, world!" with the highest level of specificity possible*/
span{
    border: 1px solid black;
    padding: 5px;
    color:blue ;
}
/* Please select "Let's get down to business..." with the highest level of specificity possible */
section{
    width: 25%;
    border: 1px solid black;
    height: 200px;
    margin: 0 auto;
    border: 1px solid purple;
}